html{
	background: url('darktexture.png');
}

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

.botones{
	background: #e06a02;
	color: #fff;
	border: 1px solid #e06a02;
	padding: 5px;
	border-radius: 5px;
}

.botones:hover{
	background: rgba(255,255,255,0.2);
	border: 1px solid #e06a02;
}

body{
	width: 1100px;
	margin: 0 auto;
	margin-top: 10px;
	background: rgba(255,255,255,0.2);
	border-radius: 100px 5px 0px 0px;
	color: #fff;
}

header{
	height: 120px;
	padding: 10px;
	background: linear-gradient(left, white 10%, #e06a02);
	background: -webkit-linear-gradient(left, white 10%, #e06a02);
	background: -moz-linear-gradient(left, white 10%, #e06a02);
	background: -o-linear-gradient(left, white 10%, #e06a02);
	background: -ms-linear-gradient(left, white 10%, #e06a02);
	color: white;
	text-shadow: 0px 0px 10px black;
	border-radius: 100px 5px 0px 0px;
}

header figure{
/*
	border: 1px solid black;
*/
	position: absolute;
	margin-top: 5px;
	outline: none;
}

header figure img{
	border-radius: 60px 55px 10px 0px;
	outline: none;
}

header h1{
/*
	border: 1px solid black;
*/
	text-align: right;
	padding: 40px;
	font-family: 'Orbitron', sans-serif;
}

h1, h2, h3, h4{
	font-family: 'Orbitron', sans-serif;
}

#wrapper{
}

#tparrafo{
	margin-left: 60px;
}
p{	
	margin-left: 60px;
	width: 60%;
	font-size: 20px;
	text-align: justify;
}

#formLogin{
	border-width: 3px 0px 3px 3px;
	border-color: #e06a02;
	border-style: solid;
	float: right;
	padding: 20px;
	border-radius: 10px 0px 0px 10px;
}

#btnLogin{
	margin-top: 10px;
}

#btnLogin *{
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	}

#btnLogin a{
	color: #fff;
}

#btnLogin a:hover{
	color: #e06a02;
}

.pikachoose{
	padding: 30px;
	width: 600px;
	border-radius: 30px;
	background: #353131;
	margin-bottom: 20px;
}

#fieldRegistro{
}

.rcolumn{
}

#contenedorPerfil, #tabs{
	display: inline-block;
	vertical-align: top;
	margin: 30px 0px 30px 30px;
}

#contenedorPerfil{
	width: 40%;
	background: #FEEEBD;
	color: #383838;
	border-radius: 5px;
}

#contenedorPerfil h2, #categperfil{
	margin-left: 20px;
}

#fotoperfil, #datosperfil{
	display: inline-block;
	vertical-align: top;
}

#fotoperfil{
	width: 150px;
	height: 150px;
	border: 1px solid black;
	margin-left: 20px;
}

#fotoperfil img{
	width: 150px;
	height: 150px;
}

#datosperfil{
	width: 50%;
}

#datosperfil ul{
	padding: 0;
	margin: 0;
}

#datosperfil ul li{
	list-style: none;
}

#tabs{
	width: 50%;
}

footer{
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	background: #e06a02;
	color: #fff;
}

footer div{
	position: relative;
	column-width: 300px; 
	-webkit-column-width: 300px; 
	-moz-column-width: 300px;
	min-height: 150px; 
	margin-left: 80px;
}

footer div ul{
	padding: 0;
}

footer a{
	color: #B6ACAC;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}


footer a:hover{
	color: #fff;
}


