*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

li{
	list-style: none;
}

body{
	width: 1100px;
	margin: 0 auto;
	margin-top: 10px;
}

header{
	border: 1px solid black;
	min-height: 120px;
	padding: 10px;
	background: -webkit-linear-gradient(left, white, orange);
	background: -moz-linear-gradient(left, white, orange);
	background: -o-linear-gradient(left, white, orange);
	background: -ms-linear-gradient(left, white, orange);
	color: white;
	text-shadow: 0px 0px 10px black;
	border-radius: 100px 5px 0px 0px;
}

header figure{
/*
	border: 1px solid black;
*/
	position: absolute;
	margin-top: 5px;
}

header figure img{
	border-radius: 60px 55px 10px 0px;
}

header h1{
/*
	border: 1px solid black;
*/
	text-align: right;
	padding: 40px;
}

#wrapper{
	border: 1px solid black;
}

p{
	border: 1px solid blue;
	width: 60%;
	font-size: 35px;
}

#formLogin{
	border: 1px solid orange;
	width: 30%;
	float: right;
}

.pikachoose{
	padding: 30px;
	width: 600px;
	border-radius: 30px;
	background: #353131;
	margin-bottom: 20px;
}


footer{
	border: 1px solid black;
	column-count: 3;
	-webkit-column-count: 3;
	-moz-column-count: 3;
}

footer div{
	position: relative;
	column-width: 300px; 
	-webkit-column-width: 300px; 
	-moz-column-width: 300px;
	min-height: 100px; 
	padding: 10px 80px;
}
